
.container{
  padding: 5% 10%;
  text-align: center;

}

#message {
  margin-bottom: 2%;
  color: #8f8f8f;
}
#roll-button{
  border-radius: 30px;
}
#roll-success {

  margin: 2% auto;
  width: 50%;
  display: none;
  background-color: #1aa260;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
}
#dice-image{
  width: 20%;
}

.padding {
  padding-top: 5%;
  padding-bottom: 3%;
}

@media (max-width: 995px) {
  .container{
    padding: 5% 5%;
    text-align: center;
  }
  #dice-image{
    width: 35%;
  }
}
